* {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: 'Hind';
}

header {
	overflow: hidden;
	z-index: 9999;
}

nav {
	position: fixed;
	max-width: 1024px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
ul {
	float: right;
	display: inline;
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	padding: 25px 10px;
	display: inline-block;
	transition: all 0.5s ease 0s;
}
h2 {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	float: left;
	padding: 20px;
	margin: 0px auto;
}
a:hover {
	text-decoration: none;
	color: #044a90;
	font-size: 17px;
	padding: 20px 10px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
